body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('tyt.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.content {
    background-color: rgba(0, 0, 0, 0.5); /* Grey with 0.5 opacity */
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px; /* Limit width for larger screens */
    height: 400px; /* Fixed height, adjust as needed */
    overflow: auto; /* Enable scrolling */
	 display: flex;
    justify-content: center;
    align-items: center;
}

.typing-effect {
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    70% { border-color: #fff; }
}

#AstartButton, #EstartButton, #IndexButton {
    padding: 10px 20px;
    font-size: 14px; /* Adjust font size for smaller screens */
    color: white;
    background-color: #444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

#AstartButton:hover, #EstartButton:hover, #IndexButton:hover {
    background-color: #555;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images-container img {
    max-width: 100%; /* Ensure images resize according to container */
    height: auto; /* Maintain aspect ratio */
    margin: 10px;
    border-radius: 10px;
}

/* Media queries for landscape orientation on mobile devices */
@media (max-width: 768px) and (orientation: landscape) {
    .content {
        width: 100%; /* Full width on mobile landscape */
        height: auto; /* Auto height to fit content */
        margin-top: 0;
        padding: 10px; /* Reduce padding for smaller screens */
    }

    #AstartButton, #EstartButton, #IndexButton {
        font-size: 12px; /* Smaller font size for landscape orientation */
        padding: 8px 16px; /* Adjust padding for smaller screens */
    }

    .typing-effect {
        font-size: 12px; /* Adjust font size for smaller screens */
    }
}
