body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
 /* background: url('tt.gif') no-repeat center center fixed;  */
    background: url('bv8.gif') no-repeat center center fixed;  
    background-size: cover;
    background-color: black; /*#f8f8f8; */
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.brochure {
    display: flex; 
    margin: 0 auto;
    justify-content: center; 
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
     overflow: auto;
}

.section {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent; /* Make section background transparent */
color:  rgba(15, 82, 126, 1);
margin-top: 20px;
}

.left {
    text-align: center;
  margin-top: 4px;
}

.center {
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.right {
    text-align: right;
	margin-top: 28px;
}

.capsule {
  /*  background-color: rgba(211, 47, 47, 0.9); /* Red with 0.8 opacity */
	 background-color: rgba(255, 255, 228, 1); /* off */ 
    border-radius: 150px;
    padding: 20px;
    width: 80%;
    height: 500px;
    max-width: 300px;
    text-align: center;
    color: rgba(15, 82, 126, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Make the capsule scrollable */
	font-weight: bold; /* Make text bold */
}

.capsule h2 {
   margin-top: 0;
   color: rgba(15, 82, 126, 1);
   font-weight: bold; /* Make text bold */
}

h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 228, 1);
  text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
color: white;
  font-weight: bold; /* Make text bold */
  text-align: center;
}

ul {
    list-style: none;
    padding: 0;
  text-align: center;
color: white;
}

ul li {
    display: flex;
    align-items: center;
  text-align: center;
    margin: 10px 0;
    font-size: 16px;
color: white;
}

ul li .icon {
    margin-right: 40px;
    color: white;
}

.contact-info p {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 16px;
color: white;
}

.contact-info .icon {
    margin-right: 0px;
}


img {
    max-width: 100%;
    height: 40%;
    margin-top: 20px;
 border-radius: 100px;
 justify-content: center;
    align-items: center;
}

.qr-code {
    width: 150px;
    margin: 20px auto 0;
}

.logo {
    width: 80%;
    margin: 0 auto;
}
@media (max-width: 768px) and (orientation: landscape) {
    .brochure {
       flex-direction: column; 
		  overflow: auto;
        width: 100%;
        height: auto; /* Ensure the brochure takes the full height */
        margin: 0 auto; /* Remove any margin */
        margin-top: 0;  
		
    }
    .section {
        padding: 10px;
		 justify-content: center;
    align-items: center;
    }
    h2 {
        font-size: 20px;
    }
    p, ul li, .contact-info p {
        font-size: 14px;
    }
}

