body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('bv8.gif') no-repeat center center fixed;
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brochure2 {
    width: 100%;
    height: 1vh; /* 30% of the viewport height */
    overflow: hidden;
    border-radius: 0px;
    margin-top: 0;
}

.brochure2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0;
    border-radius: 0px;
}

.brochure {
    display: flex;
    justify-content: center; /* Center the content */
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 0 auto; /* Add margin to separate from the image above */
}

.section {
    flex: 1;
  /*  padding: 20px;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent; /* Make section background transparent */
    color: rgba(15, 82, 126, 1);
}

.center {
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.capsule {
    background-color: rgb(25, 25, 28); /*#022d36; /*rgba(255, 255, 228, 0.2);*/
	opacity:0.5;
    border-radius: 350px;
    padding: 20px;
    width: 90%;
    height: 400px;
	 margin-top: 0 auto;
  
    justify-content: center; /* Centers the h2 horizontally */
	align-items: center;
    text-align: center;
    color: white; /*rgba(255, 255, 228, 1); */
	
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Make the capsule scrollable */
    font-weight: bold; /* Make text bold */
	
}

.capsule h2 {
    margin-top: 0;
    color: rgba(15, 82, 126, 1);
    font-weight: bold; /* Make text bold */
}


.container {
    display: flex;
    align-items: center;
    height: 100vh; /* Ensure the container takes the full height of the viewport */
    width: auto; /* Ensure the container takes the full width of the viewport */
    text-align: center; /* Center text inside the container */
}

h2 {
    font-size: 33px;
    font-weight: bold;
    color: white; /*  #dcd7a0; rgba(255, 255, 228, 1); */
	opacity:0.8;
    text-align: center;
    text-decoration: underline; /* Underline the text */
    text-decoration-color: rgba(255, 255, 228, 0.7); /* Optional: change underline color */
    text-decoration-thickness: 2px; /* Optional: change underline thickness */
}


p {
    font-size: 25px;
    line-height: 1.5;
    color: white;
    font-weight: bold; /* Make text bold */
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
    color: white;
}

ul li {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    font-size: 33px;
    color: white;
}

ul li .icon {
    margin-right: 40px;
    color: white;
}

.contact-info p {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 16px;
    color: white;
}

.contact-info .icon {
    margin-right: 0px;
}

img {
    max-width: 100%;
    height: 40%;
    margin-top: 20px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

.qr-code {
    width: 150px;
    margin: 20px auto 0;
}

.logo {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 768px) and (orientation: landscape) {
    .brochure {
        flex-direction: column;
        width: 100%;
        height: auto; /* Ensure the brochure takes the full height */
        margin: 0; /* Remove any margin */
        margin-top: 0;
    }
    .section {
        padding: 10px;
    }
    h2 {
        font-size: 20px;
    }
    p, ul li, .contact-info p {
        font-size: 14px;
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #00000e;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    animation: fadeInUp 1s ease-out 1s; /* Apply the animation with a delay */
}

.footer button {
    background-color : #6892db;
    font-weight: bold; /* Make text bold */
    color:  rgba(255, 255, 228, 1);
	border-radius: 100px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


.footer button:hover {
    background-color: #555;
}

/* Animation keyframes */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
